.bg-img1 {
    background-color: #000;
    background-size: cover;
    background-image: url(img/background-img1.jpg);
    width: 1000px;
    height: 500px;
}
.bg-img2 {
    background-color: #000;
    background-size: cover;
    background-image: url(img/background-img2.jpg);
    width: 1000px;
    height: 500px;
}
.bg-img3 {
    background-color: #000;
    background-size: cover;
    background-image: url(img/background-img3.jpg);
    width: 1000px;
    height: 500px;
}